body{
    background: #E3E1E3;
    margin: 0;
}

div{
    border: 1px solid black;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;
}
#header{
    /*position: fixed;*/
    background: antiquewhite;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 75px;
}

#header-img{

}


#header-nav{
    width: 50%;
}

#container-content{
    text-align: center;
}

.banner-img{
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 100%;
}

/*841200*/
/*#801B00*/