body{
    background: #E3E1E3;
    margin: 0;
}

div{
    border: 1px solid black;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: right;
}

li a{
    display: inline;
    padding: 8px;
}

p{
    margin: 2px;
}

.banner-img{
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 100%;
}

.nav-link{

}

.fluffText{

}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;
}

#header{
    /*position: fixed;*/
    background: antiquewhite;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
}

#header-img{

}

#header-nav{
    width: 50%;
    min-width: 250px;
}

#container-content{
    display: flex;
    justify-content: space-evenly;
}

#container-content-left{
    color: white;
    background: black;
    width: 50%;
    text-align: right;
}

#container-content-right{
    color: white;
    background: darkgreen;
    width: 50%;
}

#how-it-works{
    position: relative;
    right: 145px;
}

#form{
    position: relative;
    right: 45px;
}

/*841200*/
/*#801B00*/